<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Titletitle></Titletitle>
</head>
<body>
<h1>ID DETAILES</h1>
    {% if ee  %}
        <table>
            <thead>
                <th>User name</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>Emailid</th>
                <th>Gender</th>
            <thead>
            {%for e in ee %}
                <tr>
                    <td>{{e.username}}</td>
                    <td>{{e.password}}</td>
                    <td>{{e.phone}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.gender}}</td>
                </tr>
            {%endfor%}
        <table>
         {%else%}
             <p>No  Records Found!!!</p>
     {%endif%}


</body>
</html>